In [1]:
import math
import pandas as pd
from datetime import datetime, timedelta, date, time

### Missing planets or celestial bodies

    *Pluto
    *Moon

    *Chiron
    *Ceres
    *Juno
    *Lillith
    *Nodes

### Universal Epoch date in astronomy - J2000 (Julian years)

In [2]:
# Celestial coordinates at epoch 01.01.2000 @ 00:00 UT
df ={'Planet':['Mercury','Venus','Earth','Mars','Jupiter','Saturn'],'λi':[250.2,181.2,100.0,355.2,34.3,50.1],'T_(Days)':[87.969,224.701,365.256,686.980,4332.59,10759.2],'ω0':[4.09235,1.60213,0.98561,0.52403,0.08308,0.03346],'λp':[77.5,131.6,102.9,336.1,14.3,93.1],'e':[0.2056,0.0068,0.0167,0.0934,0.0485,0.0555], 'a (A.U.)':[0.387,0.723,1.0,1.52,5.2,9.55]}

In [3]:
df = pd.DataFrame(data=df)

In [4]:
df

    Planet     λi   T_(Days)       ω0     λp       e  a (A.U.)
0  Mercury  250.2     87.969  4.09235   77.5  0.2056     0.387
1    Venus  181.2    224.701  1.60213  131.6  0.0068     0.723
2    Earth  100.0    365.256  0.98561  102.9  0.0167     1.000
3     Mars  355.2    686.980  0.52403  336.1  0.0934     1.520
4  Jupiter   34.3   4332.590  0.08308   14.3  0.0485     5.200
5   Saturn   50.1  10759.200  0.03346   93.1  0.0555     9.550

### Get days since epoch and user dob

In [53]:
def get_usr_dob():
    # Enter day, month and year in numerical form (1/4/2020)
    day = int(input("Please enter your day of birth: "))
    month = int(input("Please enter your month of birth: "))
    year = int(input("Please enter your year of birth: "))
    # (1230)
    t = int(input("Please enter your time of birth in HHMM format: "))
    usr_time = time(t)
    usr_dob = date(year, month, day)
    usr_data = datetime.combine(usr_dob, usr_time)
    return usr_data

In [54]:
usr_data = get_usr_dob()

Please enter your day of birth: 1
Please enter your month of birth: 4
Please enter your year of birth: 2020
Please enter your time of birth in HHMM format: 0000

In [68]:
def get_yrs_since_epoch(usr_data):
    # Define epoch time
    d = date(2000,1,1)
    t = time(0, 0)
    j2000 = datetime.combine(d,t)
    if j2000 > usr_data:
        yrs_since_epoch = j2000 - usr_data
    else:
        yrs_since_epoch = usr_data - j2000
    return round(yrs_since_epoch.days / 365.25,2)

In [69]:
get_yrs_since_epoch(usr_data)

20.25

In [47]:
def get_days_since_epoch():
    # Convert 01.01.2000 @ 00:00 UT to datetime
    d = date(2000,1,1)
    t = time(0, 0)
    j2000 = datetime.combine(d,t)
    # Enter day, month and year in numerical form (1/4/2020)
    day = int(input("Please enter your day of birth: "))
    month = int(input("Please enter your month of birth: "))
    year = int(input("Please enter your year of birth: "))
    # (1230)
    t = int(input("Please enter your time of birth in HHMM format: "))
    usr_time = time(t)
    usr_dob = date(year, month, day)
    usr_data = datetime.combine(usr_dob, usr_time)
    # Does the calculation change for dates before j2000? 
    if j2000 > usr_data:
        yrs_since_epoch = j2000 - usr_data
    else:
        yrs_since_epoch = usr_data - j2000
#   convert datetime epoch to int
#   days_since_epoch = yrs_since_epoch.days
    return yrs_since_epoch

### Function to calculate heliocentric longitude

In [6]:
days_since_epoch = get_days_since_epoch()

Please enter your day of birth: 1
Please enter your month of birth: 4
Please enter your year of birth: 2020
Please enter your time of birth in HHMM format: 0000

In [48]:
years_since_epoch = get_days_since_epoch()

Please enter your day of birth: 1
Please enter your month of birth: 4
Please enter your year of birth: 2020
Please enter your time of birth in HHMM format: 0000

In [51]:
years_since_epoch

datetime.timedelta(days=7396)

In [7]:
days_since_epoch

7396

In [8]:
def helio_longitude(df, days_since_epoch):
    'Calculate heliocentric longitude for a each planet in dataframe for a given date'
    # Circular orbit
    init_mean_long = df["λi"]
    angle_trav_per_day = df["ω0"]
    mean_ang_traversed = angle_trav_per_day * days_since_epoch
    mean_long = init_mean_long + mean_ang_traversed
    helio_mean_long = round(mean_long % 360,2)
    # Convert circular to heliocentric orbit
    perihelion_long = df["λp"]
    eccentricity = df["e"]
    mean_anomaly = helio_mean_long - perihelion_long
    helio_ellip = math.degrees(2*eccentricity*(math.sin(math.radians(mean_anomaly)))) + math.degrees((1.25 * eccentricity**2*math.sin(math.radians(2*mean_anomaly))))
    frac_of_year = round(days_since_epoch / 365.25,2)
    prec_vern_eqnx = round(frac_of_year * 360/25800,2)
    geo_longitude = helio_mean_long + helio_ellip + prec_vern_eqnx
    return geo_longitude

In [9]:
df['λ (helio)'] = round(df.apply(helio_longitude,axis=1,args=(days_since_epoch,)),1)

### Fix mean anomaly calc to extract Anomaly

In [ ]:
mercury_mean_long = 277.2
peri_mean_long = 77.5

In [13]:
def get_mean_anomoly(df):
    init_mean_long = df["λi"]
    angle_trav_per_day = df["ω0"]
    mean_ang_traversed = angle_trav_per_day * days_since_epoch
    mean_long = init_mean_long + mean_ang_traversed
    helio_mean_long = round(mean_long % 360,2)
    # Convert circular to heliocentric orbit
    perihelion_long = df["λp"]
    eccentricity = df["e"]
    mean_anomaly = round(helio_mean_long - perihelion_long,1)
    return mean_anomaly

In [14]:
df['λ (helio)'] = round(df.apply(helio_longitude,axis=1,args=(days_since_epoch,)),1)

In [15]:
# Mean anomoly is slightly off θ(◦) see table 2 
df['θ0(◦) mean anomoly'] = df.apply(get_mean_anomoly,axis=1)

In [27]:
# mean_anomoly = mean_longitude - perihelion_longitude
mean_anomaly = 277.2 - 77.5
mean_anomaly

199.7

In [28]:
eccentricity = 0.2056

In [32]:
Delta_anomoly_1 = round(math.degrees(2*eccentricity*(math.sin(math.radians(mean_anomaly)))),1) 
Delta_anomoly_1

-7.9

In [33]:
Delta_anomoly_2 = round(math.degrees(1.25 * eccentricity**2*math.sin(math.radians(2*mean_anomaly))),1)
Delta_anomoly_2

1.9

In [37]:
# ∆θ(◦) = ∆θ1 + ∆θ2  
total_correction = Delta_anomoly_1 + Delta_anomoly_2
total_correction

-6.0

In [39]:
Anomoly_θ = mean_anomaly + total_correction
Anomoly_θ

193.7

In [44]:
# convert this to years datetime
days_since_epoch

7396

In [41]:
frac_of_year = round(days_since_epoch / 365.25,3)
prec_vern_eqnx = round(frac_of_year * 360/25800,3)
prec_vern_eqnx

0.283

In [ ]:
df['∆θ(◦)'] = 
# df['θ(◦)'] =

In [19]:
# θ0(◦) mean anomoly for Mars should be 294.8
df

,Planet,λi,T_(Days),ω0,λp,e,a (A.U.),λ (helio),θ0(◦) mean anomoly
0,Mercury,250.2,87.969,4.09235,77.5,0.2056,0.387,271.5,199.7
1,Venus,181.2,224.701,1.60213,131.6,0.0068,0.723,151.1,19.0
2,Earth,100.0,365.256,0.98561,102.9,0.0167,1.000,191.8,86.7
3,Mars,355.2,686.980,0.52403,336.1,0.0934,1.520,261.0,-65.2
4,Jupiter,34.3,4332.590,0.08308,14.3,0.0485,5.200,283.5,274.5
5,Saturn,50.1,10759.200,0.03346,93.1,0.0555,9.550,295.4,204.5

### Convert Heliocentric into Geocentric longitude

1. Calculate radii, r, of planet's orbit around the sun, for that epoch, giving their positions in polar form ((r, λ)

### r A.U. formula is slightly off, 0.463 for mercury

In [76]:
def helio_to_geo_long(df):
    r = df['a (A.U.)']*(1-(df['e']**2))/1+(df['e']*(math.cos(df['θ mean anomoly'])))
    return r

In [77]:
df['r(A.U)'] = df.apply(helio_to_geo_long,axis=1)

In [78]:
# Distance r(A.U) from planet to sun is slightly off, should be 0.463 for Mercury, 0.999 for Earth
df

,Planet,λi,T_(Days),ω0,λp,e,a (A.U.),λ (helio),θ mean anomoly,r(A.U),x0,y0,xG,yG,rG,λg
0,Mercury,250.2,87.969,4.09235,77.5,0.2056,0.387,271.5,199.72,0.417286,0.102334,0.404544,-1.093322,-0.567366,1.231770,27.742412
1,Venus,181.2,224.701,1.60213,131.6,0.0068,0.723,151.1,18.95,0.729732,0.696369,0.218126,-1.687358,-0.380948,1.729826,52.567499
2,Earth,100.0,365.256,0.98561,102.9,0.0167,1.000,191.8,86.67,1.004275,-0.990988,-0.162822,0.000000,0.000000,0.000000,0.000000
3,Mars,355.2,686.980,0.52403,336.1,0.0934,1.520,261.0,-65.17,1.441899,-1.397852,-0.353671,0.406864,0.190848,0.449401,-12.189474
4,Jupiter,34.3,4332.590,0.08308,14.3,0.0485,5.200,283.5,274.46,5.167578,3.757512,3.547530,-4.748501,-3.710352,6.026190,46.072292
5,Saturn,50.1,10759.200,0.03346,93.1,0.0555,9.550,295.4,204.47,9.467043,9.428479,0.853624,-10.419467,-1.016446,10.468929,83.929480

In [20]:
df.columns

Index(['Planet', 'λi', 'T_(Days)', 'ω0', 'λp', 'e', 'a (A.U.)', 'λ (helio)',
       'θ mean anomoly', 'r(A.U)'],
      dtype='object')

In [94]:
# round to 3 decimal place
# mercury
# Xh=rcos(λ) =0.012 A.U.
# Yh=rsin(λ) =−0.463 A.U
0.463 * math.cos(math.radians(271.5))

0.012119927066545253

In [91]:
# -0.463
0.463 * math.sin(math.radians(271.5))

-0.46284134146368305

In [95]:
# X0=−0.978 A.U.
# Y0=−0.204 A.U.
# earth
0.999 * math.cos(math.radians(191.8))

-0.9778885213729233

In [96]:
0.999 * math.sin(math.radians(191.8))

-0.2042915557899485

### xH, yH planet coordinates, x0, y0 earth coordinates

In [120]:
df['Xh'] = df.apply(lambda x: x['r(A.U)'] * math.cos(math.radians(x['λ (helio)'])),axis=1)
df['Yh'] = df.apply(lambda x: x['r(A.U)'] * math.sin(math.radians(x['λ (helio)'])),axis=1)

In [109]:
x0 = df.loc[df.Planet == 'Earth', "Xh"].iloc[0]
y0 = df.loc[df.Planet == 'Earth', "Yh"].iloc[0]

In [110]:
print("x0: ",x0, " y0: ",y0 )

x0:  -0.9830523014860716  y0:  -0.2053703256599447

In [111]:
df['xG'] = df['Xh'] - x0
df['yG'] = df['Yh'] - y0

# df['yG'] = df.apply(lambda x: df.loc[df.Planet == 'Earth', "x0"].iloc[0]

In [121]:
df

,Planet,λi,T_(Days),ω0,λp,e,a (A.U.),λ (helio),θ mean anomoly,r(A.U),xG,yG,rG,λg,Xh,Yh
0,Mercury,250.2,87.969,4.09235,77.5,0.2056,0.387,271.5,199.72,0.417286,0.993976,-0.211773,1.016285,-0.021041,0.010923,-0.417143
1,Venus,181.2,224.701,1.60213,131.6,0.0068,0.723,151.1,18.95,0.729732,0.344198,0.558037,0.655650,0.003732,-0.638855,0.352667
2,Earth,100.0,365.256,0.98561,102.9,0.0167,1.000,191.8,86.67,1.004275,0.000000,0.000000,0.000000,0.000000,-0.983052,-0.205370
3,Mars,355.2,686.980,0.52403,336.1,0.0934,1.520,261.0,-65.17,1.441899,0.757490,-1.218777,1.434994,-0.034479,-0.225563,-1.424147
4,Jupiter,34.3,4332.590,0.08308,14.3,0.0485,5.200,283.5,274.46,5.167578,2.189400,-4.819427,5.293425,-0.121722,1.206347,-5.024798
5,Saturn,50.1,10759.200,0.03346,93.1,0.0555,9.550,295.4,204.47,9.467043,5.043799,-8.346543,9.752164,-0.229585,4.060747,-8.551914

In [ ]:
0.993976

-0.211773

### xG, yG Subtract Earth

In [143]:
df['rG (A.U.)'] = df.apply(lambda x: math.sqrt((x['xG']**2) + (x['yG']**2)), axis=1)

In [147]:
df.apply(lambda x: math.sqrt((x['xG']**2) + (x['yG']**2)), axis=1)

0    1.016285
1    0.655650
2    0.000000
3    1.434994
4    5.293425
5    9.752164
dtype: float64

In [144]:
df

,Planet,λi,T_(Days),ω0,λp,e,a (A.U.),λ (helio),θ mean anomoly,r(A.U),xG,yG,rG,λg,Xh,Yh,rG (A.U.)
0,Mercury,250.2,87.969,4.09235,77.5,0.2056,0.387,271.5,199.72,0.417286,0.993976,-0.211773,1.016285,-0.878407,0.010923,-0.417143,1.016285
1,Venus,181.2,224.701,1.60213,131.6,0.0068,0.723,151.1,18.95,0.729732,0.344198,0.558037,0.655650,0.210667,-0.638855,0.352667,0.655650
2,Earth,100.0,365.256,0.98561,102.9,0.0167,1.000,191.8,86.67,1.004275,0.000000,0.000000,0.000000,0.000000,-0.983052,-0.205370,0.000000
3,Mars,355.2,686.980,0.52403,336.1,0.0934,1.520,261.0,-65.17,1.441899,0.757490,-1.218777,1.434994,-1.102356,-0.225563,-1.424147,1.434994
4,Jupiter,34.3,4332.590,0.08308,14.3,0.0485,5.200,283.5,274.46,5.167578,2.189400,-4.819427,5.293425,-1.429076,1.206347,-5.024798,5.293425
5,Saturn,50.1,10759.200,0.03346,93.1,0.0555,9.550,295.4,204.47,9.467043,5.043799,-8.346543,9.752164,-1.496254,4.060747,-8.551914,9.752164

In [145]:
df2 = df[['Planet','λi','a (A.U.)','λ (helio)', 'θ mean anomoly', 'r(A.U)','rG (A.U.)']]

In [150]:
df2

,Planet,λi,a (A.U.),λ (helio),θ mean anomoly,r(A.U),rG (A.U.),λg
0,Mercury,250.2,0.387,271.5,199.72,0.417286,1.016285,-0.878407
1,Venus,181.2,0.723,151.1,18.95,0.729732,0.655650,0.210667
2,Earth,100.0,1.000,191.8,86.67,1.004275,0.000000,0.000000
3,Mars,355.2,1.520,261.0,-65.17,1.441899,1.434994,-1.102356
4,Jupiter,34.3,5.200,283.5,274.46,5.167578,5.293425,-1.429076
5,Saturn,50.1,9.550,295.4,204.47,9.467043,9.752164,-1.496254

In [163]:
#math.atan = inverse tan (tan^-1)
# 345.3 for Mercury
df2['λg'] = df.apply(lambda x: math.degrees(math.atan(x['yG']-x['xG'])), axis=1)

/home/linda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [164]:
df2

,Planet,λi,a (A.U.),λ (helio),θ mean anomoly,r(A.U),rG (A.U.),λg
0,Mercury,250.2,0.387,271.5,199.72,0.417286,1.016285,-50.329033
1,Venus,181.2,0.723,151.1,18.95,0.729732,0.655650,12.070312
2,Earth,100.0,1.000,191.8,86.67,1.004275,0.000000,0.000000
3,Mars,355.2,1.520,261.0,-65.17,1.441899,1.434994,-63.160374
4,Jupiter,34.3,5.200,283.5,274.46,5.167578,5.293425,-81.880000
5,Saturn,50.1,9.550,295.4,204.47,9.467043,9.752164,-85.729040

In [142]:
df

,Planet,λi,T_(Days),ω0,λp,e,a (A.U.),λ (helio),θ mean anomoly,r(A.U),xG,yG,rG,λg,Xh,Yh,rG (A.U.)
0,Mercury,250.2,87.969,4.09235,77.5,0.2056,0.387,271.5,199.72,0.417286,0.993976,-0.211773,1.016285,-0.878407,0.010923,-0.417143,1.016285
1,Venus,181.2,224.701,1.60213,131.6,0.0068,0.723,151.1,18.95,0.729732,0.344198,0.558037,0.655650,0.210667,-0.638855,0.352667,0.655650
2,Earth,100.0,365.256,0.98561,102.9,0.0167,1.000,191.8,86.67,1.004275,0.000000,0.000000,0.000000,0.000000,-0.983052,-0.205370,0.000000
3,Mars,355.2,686.980,0.52403,336.1,0.0934,1.520,261.0,-65.17,1.441899,0.757490,-1.218777,1.434994,-1.102356,-0.225563,-1.424147,1.434994
4,Jupiter,34.3,4332.590,0.08308,14.3,0.0485,5.200,283.5,274.46,5.167578,2.189400,-4.819427,5.293425,-1.429076,1.206347,-5.024798,5.293425
5,Saturn,50.1,10759.200,0.03346,93.1,0.0555,9.550,295.4,204.47,9.467043,5.043799,-8.346543,9.752164,-1.496254,4.060747,-8.551914,9.752164

In [166]:
Xg=0.990 
Yg=0.259

In [ ]:
# rg=√(X2g+Y2g) =1.024 A.U.
# λg=tan−1(Yg/Xg) =345.3◦

In [169]:
round(math.sqrt(Xg**2+Yg**2),3)

1.023

In [178]:
math.degrees(math.atan2(Yg,Xg))

14.66091789971255